.container {
	display: flex;
	flex-direction: column;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 520px;
	margin: 0 auto;
	text-align: center;
}

.image {
	width: 520px;
	height: 240px;
}

.info {
	display: flex;
	gap: 20px;
	margin: 0 auto;
}

.infoItem {
	display: flex;
	flex-direction: column;
	gap: 8px;

	align-items: center;
}
