.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.constructorElements {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: flex-end;
}

.buttonContainer {
	display: flex;
	gap: 40px;
	align-items: center;
	justify-content: flex-end;
}

.dynamicElements {
	max-height: 300px;
	overflow-y: scroll;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: flex-end;
	padding-right: 20px;
}
