.open {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	overflow: auto;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 10000px;
	-webkit-tap-highlight-color: transparent;
	align-items: center;
	-webkit-overflow-scrolling: touch;
}
