.container {
	display: flex;
	justify-content: center;
	height: 24px;
	gap: 8px;
	color: var(--text-inactive-color);
	cursor: pointer;
	&:hover {
		color: var(--text-primary-color);
	}
}

.active {
	color: var(--text-primary-color);
}
