.container {
	display: flex;
	flex-direction: column;
	max-width: 320px;
	width: 100%;
}

.navigation {
	margin-bottom: 80px;
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.link {
	cursor: pointer;
	background: transparent;
	outline: none;
	border: none;
	height: 64px;

	&:hover {
		color: #fff;
	}

	&.active {
		color: #fff;
	}
}

.notice {
	text-align: left;
}
