.container {
	background: var(--background-element);
	border-radius: var(--common-border-radius-s);
	box-sizing: border-box;
	color: #f2f2f3;
	display: inline-block;
	flex-grow: 1;
	font-family: Jet Brains Mono;
	font-size: 16px;
	line-height: 24px;
	max-width: 536px;
	min-height: 80px;
	padding: 16px 24px;
	width: 536px;
	display: flex;
	align-items: center;
	justify-content: center;
}
